<p style="color: green"><%= notice %></p>
<div class="mt-4">
<%= render @greeting %>

<div>
  <%= link_to "Edit this greeting", edit_greeting_path(@greeting) %> |
  <%= link_to "Back to greetings", greetings_path %>
  <br />
  <%= button_to "Destroy this greeting", @greeting, method: :delete %>
</div>
</div>
